<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="arbitragem">
      {{ arbitragem.corretoraVenda.nome }}
      x {{ arbitragem.corretoraCompra.nome }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/configuracoes">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="arbitragem">
  <div>
    <div class="row">
      <app-informacoes-corretora
        rotulo="Corretora venda"
        [corretora]="arbitragem.corretoraVenda"
      ></app-informacoes-corretora>
      <app-informacoes-corretora
        rotulo="Corretora compra"
        [corretora]="arbitragem.corretoraCompra"
      ></app-informacoes-corretora>
    </div>
    <div class="row">
      <div class="col">
        <strong>Investimento</strong>
        <p>
          R$
          {{ arbitragem.investimento | number: PRECISAO_REAL:FORMATO_NUMERO }}
        </p>
      </div>
      <div class="col">
        <strong>Lucro</strong>
        <p>R$ {{ arbitragem.lucro | number: PRECISAO_REAL:FORMATO_NUMERO }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Porcentagem de lucro</strong>
        <p>{{ arbitragem.porcentagemLucro | number: PRECISAO_REAL:FORMATO_NUMERO }}%</p>
      </div>
      <div class="col" *ngIf="arbitragem.possuiTaxaTransferencia">
        <strong>Taxa de transferência</strong>
        <p>{{ arbitragem.taxaTransferencia | number: PRECISAO_BITCOIN:FORMATO_NUMERO }} BTC</p>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="arbitragem.possuiTaxaSaque">
        <strong>Taxa de saque em reais</strong>
        <p>
          R$ {{ arbitragem.taxaSaque | number: PRECISAO_REAL:FORMATO_NUMERO }}
        </p>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <caption>
        Ordens de venda na {{ arbitragem.corretoraVenda.nome }}
      </caption>
      <thead class="thead-light">
        <tr>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th>Taxas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordem of arbitragem.ordensVenda">
          <td>{{ ordem.preco | number: PRECISAO_REAL:FORMATO_NUMERO }}</td>
          <td>
            {{ ordem.quantidade | number: PRECISAO_BITCOIN:FORMATO_NUMERO }}
          </td>
          <td>{{ ordem.total | number: PRECISAO_REAL:FORMATO_NUMERO }}</td>
          <td>{{ ordem.valorTaxa | number: PRECISAO_REAL:FORMATO_NUMERO }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <caption>
        Ordens de compra na {{ arbitragem.corretoraCompra.nome }}
      </caption>
      <thead class="thead-light">
        <tr>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th>Taxas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordem of arbitragem.ordensCompra">
          <td>{{ ordem.preco | number: PRECISAO_REAL:FORMATO_NUMERO }}</td>
          <td>
            {{ ordem.quantidade | number: PRECISAO_BITCOIN:FORMATO_NUMERO }}
          </td>
          <td>{{ ordem.total | number: PRECISAO_REAL:FORMATO_NUMERO }}</td>
          <td>{{ ordem.valorTaxa | number: PRECISAO_REAL:FORMATO_NUMERO }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-rodape></app-rodape>
</ion-content>
