<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="arbitragem">
      {{ arbitragem.corretoraVenda.nome }}
      x {{ arbitragem.corretoraCompra.nome }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/configuracoes">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="arbitragem">
  <div class="container-fluid">
    <div class="row">
      <app-informacoes-corretora
        rotulo="Corretora venda"
        [corretora]="arbitragem.corretoraVenda"
      ></app-informacoes-corretora>
      <app-informacoes-corretora
        rotulo="Corretora compra"
        [corretora]="arbitragem.corretoraCompra"
      ></app-informacoes-corretora>
    </div>
    <app-informacoes-arbitragem
      [arbitragem]="arbitragem"
    ></app-informacoes-arbitragem>
  </div>
  <app-tabela-ordens
    tipo="venda"
    [corretora]="arbitragem.corretoraVenda"
    [ordens]="arbitragem.ordensVenda"
  ></app-tabela-ordens>
  <app-tabela-ordens
    tipo="compra"
    [corretora]="arbitragem.corretoraCompra"
    [ordens]="arbitragem.ordensCompra"
  ></app-tabela-ordens>
  <app-rodape></app-rodape>
</ion-content>
