<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-configuracao-definicao></app-configuracao-definicao>

  <app-configuracao-filtro></app-configuracao-filtro>

  <app-configuracao-notificar></app-configuracao-notificar>

  <ion-list>
    <ion-list-header>Ordenar por</ion-list-header>
    <ion-reorder-group
      disabled="false"
      (ionItemReorder)="mudarOrdenacao($event)"
    >
      <ion-reorder *ngFor="let criterioOrdenacao of configuracao.ordenacao">
        <ion-item>
          <ion-label>{{ criterioOrdenacao.descricao }}</ion-label>
          <ion-icon slot="end" name="reorder"></ion-icon>
        </ion-item>
      </ion-reorder>
    </ion-reorder-group>
  </ion-list>
</ion-content>
