<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Definições</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Investimento</ion-label>
      <ion-input type="number" inputmode="decimal" [(ngModel)]="investimentoMaximo" (change)="mudarInvestimentoMaximo()"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label>Filtros</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Lucro acima de</ion-label>
      <ion-input type="number" inputmode="decimal" [(ngModel)]="lucroAcima" (change)="mudarLucro()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Porcentagem de lucro acima de</ion-label>
      <ion-input type="number" inputmode="decimal" [(ngModel)]="porcentagemLucro" (change)="mudarPorcentagemLucro()"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
