<ion-header>
  <ion-toolbar>
    <ion-title>{{ corretora.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item href="{{ corretora.paginaInicial }}" target="_blank" rel="external">
      <ion-label>Página inicial</ion-label>
    </ion-item>
    <ion-item href="{{ corretora.paginaOrdens }}" target="_blank" rel="external">
      <ion-label>Página das ordens de compra e venda</ion-label>
    </ion-item>
    <ion-item href="{{ corretora.paginaContato }}" target="_blank" rel="external">
      <ion-label>Página de contato</ion-label>
    </ion-item>
    <ion-list-header>
      <ion-label>Observação</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-note>{{ corretora.observacao }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
