<hr />
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <p><strong>Isenção de responsabilidade</strong></p>
  <p>
    <small>
      Negociar no mercado de criptomoedas é muito arriscado, sendo assim nunca
      invista uma quantia em dinheiro que você não pode perder, pois você pode
      perder todo o dinheiro investido. Sendo que não nos responsabilizamos
      pelos seus ganhos ou perdas, cabe a você verificar por conta própria se a
      corretora é confiável e conferir os livros de ordens, pois as informações
      disponibilizadas pelo software são apenas indicadores.
    </small>
  </p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
