<ion-header>
  <ion-toolbar>
    <ion-title>
      CriptoArbitragem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-responsive">
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th>Compre em</th>
          <th>Venda em</th>
          <th>Lucro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let arbitragem of arbitragens">
          <td>{{ arbitragem.corretoraVenda.nome }}</td>
          <td>{{ arbitragem.corretoraCompra.nome }}</td>
          <td>R$ {{ arbitragem.lucro | number:'1.2-2' }} ({{ arbitragem.porcentagemLucro | number:'1.2-2' }}%)</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
