<ion-header>
  <ion-toolbar>
    <ion-title>
      CriptoArbitragem
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/configuracoes">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-responsive" *ngIf="existemOportunidadesAbitragem">
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th>Compre em</th>
          <th>Venda em</th>
          <th>Lucro</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let arbitragem of arbitragens; let indice = index"
          (click)="detalharOportunidadeArbitragem(indice)"
        >
          <td>{{ arbitragem.corretoraVenda.nome }}</td>
          <td>{{ arbitragem.corretoraCompra.nome }}</td>
          <td>
            R$ {{ arbitragem.lucro | number: PRECISAO_REAL }}
            ({{ arbitragem.porcentagemLucro | number: PRECISAO_REAL }}%)
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!existemOportunidadesAbitragem">
    <ion-grid>
      <ion-row>
        <ion-col>
          Não há oportunidades de arbitragem de acordo com os parâmetros
          informados na configuração.
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-rodape></app-rodape>
</ion-content>
